* {
  box-sizing: border-box;
}

body {
  text-align: center;
  color: white;

  font-size: 36px;
}

header {
  height: 24vh;
  line-height: 24vh;

  background-color: steelblue;

  border: 5px solid white;
}

aside {
  height: 50vh;
  width: 25%;
  line-height: 50vh;

  background-color: yellowgreen;

  border: 5px solid white;

  float: left;
}

main {
  height: 50vh;
  width: 75%;

  float: left;
}

.main-section-1 {
  height: 30vh;
  line-height: 30vh;

  background-color: coral;

  border: 5px solid white;
}

.main-section-2 {
  height: 20vh;
  line-height: 20vh;

  background-color: darkgrey;

  border: 5px solid white;
}

.clear {
  clear: both;
}

footer {
  height: 24vh;
  line-height: 24vh;

  background-color: coral;

  border: 5px solid white;
}
